@import '../vars/colors';
@import '../mixins/mediaqueries';

.ob {
  // Local Variables
  $titleFontSize: 16px;
  $titleLineHeight: $titleFontSize;
  $titlePadding: 10px;

  $titleHeight: $titleLineHeight + $titlePadding * 2;

  $cellFontSize: 14px;
  $cellLineHeight: $cellFontSize;
  $cellVerticalPadding: 5px;
  $theadBorderWidth: 1px;

  $theadHeight: $cellLineHeight + ($cellVerticalPadding + $theadBorderWidth )* 2;

  $totalHeight: $theadHeight + $titleHeight;
  $halfTotalHeight: $totalHeight / 2;

  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  color: $primary-text-color;
  height: 100%;

  // Over Layer for Loading / Pause
  .ob-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: transparent;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all 0.1s ease-in;
    pointer-events: none;
    opacity: 0;

    > * + * {
      margin-top: 10px;
    }

    &.visible {
      color: $primary-text-color;
      background-color: fade-out($dark-gray, 0.1);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .number {
    font-family: 'Roboto Mono';
  }

  // Default / Common styles

  // Title and Spread
  .ob-title-container {
    display: flex;
    flex-direction: row;
  }

  .ob-title,
  .ob-spread {
    display: flex;
    font-size: $titleFontSize;
    line-height: $titleLineHeight;
    padding: $titlePadding;
  }

  .ob-spread {
    justify-content: center;
    flex-grow: 1;
    color: $secondary-text-color;
  }

  .ob-tables-container {
    display: flex;
  }

  // Order Tables
  .orders-table {
    display: flex;
    flex-direction: column;

    thead,
    tbody {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    // Table Head
    thead {
      border-top: $theadBorderWidth solid $dark-gray;
      border-bottom: $theadBorderWidth solid $dark-gray;
    }

    // Table Row
    tr {
      display: flex;
      width: 100%;
      flex-direction: row;
    }

    tbody tr {
      background-color: transparent;
      background-repeat: no-repeat;

      td {
        font-family: 'Roboto Mono';
      }
    }

    // Table Cell
    td, th {
      display: flex;
      padding: $cellVerticalPadding 3vw $cellVerticalPadding 0;
      width: 33.3333%;
      justify-content: right;
      font-size: $cellFontSize;
      line-height: $cellLineHeight;
    }

    th {
      color: $secondary-text-color;
      text-transform: uppercase;
    }

    // Apply Red on Ask prices
    &.ask {
      .price {
        color: $ask-text-color;
      }
    }

    // Apply Green on Bid prices
    &.bid {
      .price {
        color: $bid-text-color;
      }
    }
  }

  // Order Book Footer
  .ob-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }

  // Mobile Specific Styles
  @include mobile {
    .ob-title-container {
      .ob-spread {
        display: none;
      }
    }

    // Tables Positioned Top / Bottom
    .ob-tables-container {
      flex-direction: column;
      flex-grow: 1;
      overflow: hidden;
    }

    // Full Width Tables
    .orders-table {
      width: 100%;
      overflow: hidden;

      tbody {
        overflow: auto;
      }

      // Ask Orders are using 50% of available height once other elements subtracted
      &.ask {
        height: calc(50% - #{ $halfTotalHeight } + #{ $theadHeight });

        // Ask order is reversed
        tbody {
          flex-direction: column-reverse;
        }

        // Ask Background set to Red, & spreads from left to right
        tbody tr {
          background-image: linear-gradient(to left, $ask-bg-color, $ask-bg-color);
          background-position: 0 0;
        }
      }

      // Bid Orders are using 50% of available height once other elements subtracted
      &.bid {
        height: calc(50% - #{ $halfTotalHeight });

        // Hide the thead to only keep one (from Ask Table)
        thead {
          display: none;
        }

        // Bid Background set to Green, & spreads from left to right
        tbody tr {
          background-image: linear-gradient(to left, $bid-bg-color, $bid-bg-color);
          background-position: 0 0;
        }
      }
    }
  }

  // Desktop Specific Styles
  @include desktop {
    // Tables Positioned Left / Right
    .ob-tables-container {
      flex-direction: row;
      flex-grow: 1;
      overflow: auto;

      .ob-spread {
        display: none;
      }
    }

    // Half Width Tables
    .orders-table {
      width: 50%;

      // Headers stay in the same position, regardless of scroll
      thead {
        position: fixed;
        width: inherit;
        background: $background-color;
      }

      // Add space for fixed thead to go over
      tbody {
        padding-top: $theadHeight;
      }

      // Reorder. Ask Table comes second
      &.ask {
        order: 2;

        // Ask Background set to Red, & spreads from left to right
        tbody tr {
          background-image: linear-gradient(to left, $ask-bg-color, $ask-bg-color);
          background-position: 0 0;
        }
      }

      // Reorder. Bid Table comes first
      &.bid {
        order: 1;

        // Columns (Price, Size, Total) are reversed for Bid
        td, th {
          &:nth-child(1) {
            order: 3;
          }
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 1;
          }
        }

        // Bid Background set to Green, & spreads from right to left
        tbody tr {
          background-image: linear-gradient(to left, $bid-bg-color, $bid-bg-color);
          background-position: 100% 0;
        }
      }
    }
  }
}
