@import '../vars/colors';
@import '../mixins/mediaqueries';

.ob {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  color: $primary-text-color;

  .number {
    font-family: 'Roboto Mono';
  }

  .ob-title-container {
    display: flex;
    flex-direction: row;
  }

  .ob-title,
  .ob-spread {
    display: flex;
    padding: 10px 10px;
  }

  .ob-spread {
    justify-content: center;
    flex-grow: 1;
    color: $secondary-text-color;
  }

  .ob-tables-container {
    display: flex;
  }

  .orders-table {
    display: flex;
    flex-direction: column;

    thead,
    tbody {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    thead {
      border-top: 1px solid $dark-gray;
      border-bottom: 1px solid $dark-gray;
    }

    tr {
      display: flex;
      width: 100%;
      flex-direction: row;
    }

    tbody tr {
      background-color: transparent;
      background-repeat: no-repeat;

      td {
        font-family: 'Roboto Mono';
      }
    }

    td, th {
      display: flex;
      padding: 5px 3vw 5px 5px;
      width: 33.3333%;
      justify-content: right;
    }

    th {
      color: $secondary-text-color;
    }

    &.ask {
      .price {
        color: $ask-text-color;
      }
    }

    &.bid {
      .price {
        color: $bid-text-color;
      }
    }
  }

  .ob-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }
}

// Mobile
@include mobile {
  .ob {
    .ob-title-container {
      .ob-spread {
        display: none;
      }
    }

    .ob-tables-container {
      flex-direction: column;
    }

    .orders-table {
      width: 100%;

      &.ask {
        tbody {
          flex-direction: column-reverse;
        }
        tbody tr {
          background-image: linear-gradient(to left, $ask-bg-color, $ask-bg-color);
          background-position: 0 0;
        }
      }

      &.bid {
        thead {
          display: none;
        }

        tbody tr {
          background-image: linear-gradient(to left, $bid-bg-color, $bid-bg-color);
          background-position: 0 0;
        }
      }
    }
  }
}

// Desktop
@include desktop {
  .ob {
    .ob-tables-container {
      flex-direction: row;

      .ob-spread {
        display: none;
      }
    }

    .orders-table {
      width: 50%;

      &.ask {
        td, th {
          &:nth-child(1) {
            order: 3;
          }
          &:nth-child(2) {
            order: 2;
          }
          &:nth-child(3) {
            order: 1;
          }
        }

        tbody tr {
          background-image: linear-gradient(to left, $ask-bg-color, $ask-bg-color);
          background-position: 100% 0;
        }
      }

      &.bid {
        tbody tr {
          background-image: linear-gradient(to left, $bid-bg-color, $bid-bg-color);
          background-position: 0 0;
        }
      }
    }
  }
}
